.var, .reserved, .boolean {
	color: blue;
}


.string {
	color: green;
}

.number {
	color: orange;
}

.function {
	color: #be284c;
}

.def-function {
	color: #00b4e4;
}

.character {
	color: #a31515;
}

.punctuation {
	/*color: #863333e6;*/
	color: black;
}

.operator-\\\=\\\= { /* color for == */
	/*color: red;*/
}

.symbol {
	color: purple;
}

.def-class {
	color:red;
}