body {
	background-color: lightblue;
}

p 	{
	line-height: 24px;
}

#NavBar li {
	border-bottom: black solid;
	border-width: 2px;
	padding-left: 10px;
}

#headP {
	margin-top: 11px;
}


#navbarCollapse {
	padding-top: 2px;
	border-top: black solid;
	border-width: 2px;
}

#navDrop {
	display: none;
	margin-right: 102rem;
}



#main {
  min-height: 100%;
  width: 61%;
  margin-left: 16.6%;
  position: absolute;
  background-color: #f2d7a6;
  padding: 4rem;
  font-family: "Lato","proxima-nova","Helvetica Neue","Arial","sans-serif";
  font-weight: normal;
}

#content {
	background: #f9ecd5e6;
	padding: 30px;
	/*border: solid 1px #e1e4e5;*/
}

.navbar-brand {
	padding-left: 10px;
}

.bar-heading-holder{
    background: #2980b9;
}

.bg-primary {
	background-color: #7cc87a !important;	
}

.code-literal {
	color: #E74C3C;
}

.code-inline {
	display: inline;
	white-space: nowrap;
	padding: 2px 5px;
	margin: 0px 5px 0px 5px;
}

.code-block {
	color: black;
	padding: 10px 10px;
	font-size: 1em;
	/*background: #F5F5F5;*/
}

.code-block, .code-inline{
	max-width: 100%;
	/*background: #F5F5F5;*/
	background: #fff;
	border: solid 1px #e1e4e5;
	overflow-x: auto;
}


.nav-link:focus, .nav-link:hover{
	margin-left: -10px;
	padding-left: 15px;
}

.navbar-left {
  width: 16.7%;
  height: 100%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
}

.bar-heading{
	border-bottom: #9f9f9f66 solid;
    border-width: 2px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.nav-link {
	color: white !important;
}

.block-head {
	font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia","Arial","sans-serif";
}



@media (max-width: 768px) {
	#main{
		width: 84%;
	}
} 

@media (max-width: 576px) { 

	#main {
		padding: 3rem;
		background-color: #f2d7a6;
		width: 100%;
		margin-left: auto;
		margin-top: 2rem;
	}

	#navDrop {
		display: inline;
		margin-right: 2rem;
	}

} 

