body {
	background-color: lightblue;
}

.navbar-brand {
	padding-left: 10px;
	/*background-color: #7cc87a;*/
	padding-right: 10px;
}

li {
	border: black solid;
	border-width: 2px;
	padding-left: 10px;
}


.bg-primary {
	background-color: #7cc87a !important;	
}

#headP {
	margin-top: 11px;
}

#navbarCollapse {
	/*background-color: gray;*/
	padding-top: 2px;
}

#navDrop {
	display: none;
}

.nav-link:hover {
	margin-left: -10px;
	padding-left: 10px;
}

.navbar-left {
  width: 16.7%;
  height: 100%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
}

.vertical-center {
  background-color: blue;
}

#main {
  height: 100%;
  max-width: 61%;
  margin-left: 16.6%;
  background-color: blue;
}