body {
	background-color: lightblue;
}

.navbar-brand {
	padding-left: 10px;
	/*background-color: #7cc87a;*/
	padding-right: 10px;
}

li {
	border: black solid;
	border-width: 2px;
	padding-left: 10px;
}


.bg-primary {
	background-color: #7cc87a !important;
}

#headP {}

#navbarCollapse {
	/*background-color: gray;*/
	padding-top: 2px;
}

.nav-link:hover {
	margin-left: -10px;
	padding-left: 10px;
}

.navbar-left {
	width: 16.7%;
	position: fixed;
	height: 100%;
}

